.biometric-page {
  min-height: 100vh;
  background-color: var(--bg-white);
  padding: var(--spacing-3xl) var(--spacing-xl);
}

.biometric-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-section {
  text-align: center;
  margin-bottom: var(--spacing-3xl);
}

.app-logo {
  max-width: 250px;
  height: auto;
  /* margin-bottom: var(--spacing-sm); */
  margin-top: -30px ;
  
 
}

.tagline {
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-purple);
  margin-bottom: var(--spacing-xl);
  text-align: center;
  margin-top: -50px;
}

.info-text {
  margin-bottom: var(--spacing-3xl);
  text-align: left;
}

.info-text p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: var(--spacing-md);
}

.fingerprint-icon {
  margin: var(--spacing-3xl) 0;
}

.enable-button {
  width: 100%;
  max-width: 360px;
  padding: var(--spacing-lg);
  background-color: var(--primary-purple);
  color: var(--text-white);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: var(--spacing-lg);
  transition: all 0.3s ease;
}

.enable-button:hover {
  background-color: var(--primary-dark);
}

.disable-button {
  width: 100%;
  max-width: 360px;
  padding: var(--spacing-lg);
  background-color: var(--red-card);
  color: var(--text-white);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.disable-button:hover {
  background-color: #D32F2F;
}
