.wallet-page {
  min-height: 100vh;
  background-color: var(--bg-white);
  padding-bottom: 80px;
}

.wallet-header {
  background-color: var(--primary-purple);
  color: var(--text-white);
  padding: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-header h1 {
  font-size: 24px;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wallet-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  
  
}

.balance-section {
  background-color: var(--primary-purple);
  color: var(--text-white);
  padding: var(--spacing-2xl) var(--spacing-lg) var(--spacing-3xl);
  text-align: center;
}

.balance-label {
  font-size: 16px;
  margin-bottom: var(--spacing-sm);
  opacity: 0.95;
}

.balance-amount {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: var(--spacing-3xl);
}

.wallet-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-lg);
  padding: 0 var(--spacing-sm);
  
}


.action-btn1{
  
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.307);

}



.action-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 255, 255, 0.3); */
  /* border-radius: 90%; */
  
}

.action-icon svg {
  stroke: rgb(255, 255, 255);
}



.transactions-section {
  background-color: var(--bg-white);
  padding: var(--spacing-xl) var(--spacing-lg);
}

.transactions-section h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-purple);
  margin-bottom: var(--spacing-lg);
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.transaction-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md) 0;
}

.txn-avatar {
  flex-shrink: 0;
}

.txn-details {
  flex: 1;
}

.txn-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 4px;
}

.txn-date {
  font-size: 12px;
  color: var(--text-secondary);
}

.txn-amount {
  font-size: 16px;
  font-weight: 700;
  color: #4CAF50;
}
